<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V11</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename= 'fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100" style="background-image: url('static/images/bg-01.jpg');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/busbooking" method="post">
				<span class="contact100-form-title">
					Enter Details of Travel
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Tell us the name of your organisation">
					<span class="label-input100">Tell us the name of your organisation *</span>
					<input class="input100" type="text" name="name" id="name" placeholder="Name of your organisation" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Enter your email *</span>
                     <input class="input100" type="email" name="email" id="email" placeholder="Enter your email">
                </div>

				<div class="wrap-input100">
					<span class="label-input100">Your Website</span>
					<input class="input100" type="text" name="website" id="website" placeholder="http://">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate ="Destination is required">
					<span class="label-input100">Enter Destination *</span>
					<input class="input100" type="text" name="destination" id="destination" placeholder="Enter the Destination" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate ="Arrival is required">
					<span class="label-input100">Enter Arrival *</span>
					<input class="input100" type="text" name="arrival" id="arrival" placeholder="Enter the Arrival" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate ="Cost is required">
					<span class="label-input100">Enter cost per seat in Rs. *</span>
					<input class="input100" type="number" min="0" name="cost" id="cost" placeholder="Enter the Cost in Rs." required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate ="Date is required">
					<span class="label-input100">Enter Date of departure *</span>
					<input class="input100" type="date" name="date_of_depr" id="date_of_depr" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate ="Time is required">
					<span class="label-input100">Enter Time of departure *</span>
					<input class="input100" type="time" name="time_of_depr" id="time_of_depr" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate ="Phone no is required">
					<span class="label-input100">Phone Number *</span>
					<input class="input100" name="phone_num" type="tel" id="phone_num" placeholder="Your Phone number" required>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Any Message</span>
					<textarea class="input100" name="message" id="message" placeholder="Your message here..."></textarea>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" id="success">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>

		<span class="contact100-more">
				Call us on +001 345 6178
		</span>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename= ' vendor/bootstrap/js/popper.js ')}}"></script>
	<script src="{{url_for('static', filename= ' vendor/bootstrap/js/bootstrap.min.js ')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename= ' vendor/select2/select2.min.js ')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename= ' js/main.js ')}}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
